{% extends "base.html" %}
{% load urlify %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock %}

{% block post_detail_link %}
<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
	{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive' />
	{% endif %}
<h1>{{ title }}<br/>
	<small>{% if instance.draft %}<span style='color: red'>Draft</span>
	{% endif %}{{ instance.publish }}</small></h1>
<p>Read time: {% if instance.read_time <= 1 %} < 1 min {% else %}{{ instance.read_time }} minutes{% endif %}</p>
{% if instance.user.get_full_name %}
<p class='byline'>Author: <strong>{{ instance.user.get_full_name }}</strong></p>
{% endif %}

<!-- FACEBOOK LIKE ABOVE POST  -->
<!-- <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div></p>
<hr/> -->

<div class="row">
<div class='col-sm-12' >
<div class= 'post-detail-item'>{{ instance.get_markdown }}</div>
<!-- Story ID = {{ instance.id }} -->
<hr/>
<br/>

<!-- COMMENTS BOX BELOW POST -->
<!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div> -->
</div>
</div>



<!-- <p><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:20|urlify }}%20{{ request.build_absolute_uri}}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri}}'>Google+</a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri}}/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri}}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri}}&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>
</p>
 -->
</div>

{% endblock content %}

</html>

